include ../components/form-mixin/mixin__checkbox.pug
include ../components/form-mixin/mixin__file.pug
include ../components/form-mixin/mixin__input.pug
include ../components/form-mixin/mixin__radio.pug
include ../components/form-mixin/mixin__rate-group.pug
include ../components/form-mixin/mixin__select.pug
include ../components/form-mixin/mixin__textarea.pug
include ../components/mixin__item/mixin__item.pug
include ../components/mixin__section-title/mixin__section-title.pug
include ../components/mixin__table/mixin__table.pug
include ../components/mixin__to-list/mixin__to-list.pug
include ../components/modal/mixin__modal.pug
include ../mixins/icon/mixin__icon.pug
include ../mixins/splide/mixin__splide.pug
