+modal({
	id: 'modal-start',
	mod: 'modal-narrow modal-message modal-start',
	title: 'Выберите услугу',
	header: true
})
	.modal-inner
		.btn.btn--primary(data-dismiss="modal")
			span Услуги СТО
		a(href="/usa").btn.btn--primary
			span  Авто из США