@import "src/assets/css/vars_mixins/vars_mixins";

.btn{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	text-decoration: none;
	text-transform: none;
	height: 48px;
	border-radius: var(--radius);
	font-weight: 500;
	padding: 0 20px;
	transition: all ease .3s;
	font-size: 18px;
	&--primary{
		color: #ffffff;
		background-color: var(--base-color);
		border: 1px solid var(--base-color);
		&:hover {
			@media (hover: hover) {
				cursor: pointer;
				color: var(--base-color);
				border-color: var(--base-color);
				background-color: #ffffff;
			}
		}
	}
	&--outline{
		background-color: #fff;
		color: var(--base-color);
		&:hover {
			@media (hover: hover) {
				cursor: pointer;
				color: #ffffff;
				background-color: var(--second-color);
			}
		}
	}
	
	&--sm{
		height: 3.6rem;
		font-size: 1.4rem;

	}
	&[disabled]{
		pointer-events: none;
		background-color: var(--border);
		color: var(--text-color);
	}
}