include ../vars/vars

- var list = [1,2,3,4,5,6,7,8]


section.section.reviews
	.container
		.reviews-inner
			.h2.fsb.section-title.text--center Посмотрите отзывы учеников:
			.reviews-slider
				+splide({
					mod: 'js-splide-review'
				})
					each x in list
						li.splide__slide
							img(src=PATH + `images/review-${x}.jpg` loading="lazy")

