extends ../../layout/layout-index

block vars
	- var pageTitle = 'ViaMotors | Авто из США и Канады | СТО сервис'
	- var pageBodyClass = ''
	- var dir = ''



block main
	include ../../components/hero-screen/hero



block componentsCriticalStyles
	+componentsCriticalStyles-includer()
block vendorScripts
	+vendorScripts-includer()
block componentsStyles
	+style-includer()
block componentsScripts
	+componentsScripts-includer()
