section.section.about#about
	.container
		.about-inner
			.about-info
				.h2.fsb Киреева Татьяна
				.about-info__descr.text--gray.t5 Автор курса
				ul.about-info__list.list-marker
					li Член Белорусского Союза Дизайнеров с 2009г.
					li Участник и победитель различных фестивалей Моды и дизайна («Мельница Моды», «Белая Амфора», «Поколение NEXT»
					li Автор учебного пособия «Моделирование одежды методом наколки»
					li Педагог УО «Минский государственный колледж индустрии моды» с 2018 по 2023 г.
					li Основатель ООО "Творческая мастерская моды и дизайна"
					li Руководитель подготовки учащихся к конкурсному движению World Skills в модуле «Макетирование изделия»

			.about-img
				.about-img__wrap
					img(src=PATH + "images/about.png" loading="lazy")

section.section.section--bg.course
	.container

		.h2.fsb.section-title.text--center Для кого этот курс?
		.course-subtitle.subtitle.t5 Этот курс предназначен для людей всех уровней, от новичков, ищущих прочную основу, до опытных профессионалов, стремящихся усовершенствовать свои навыки. Независимо от того, студент вы, начинающий дизайнер или любитель моды, этот курс позволит вам выразить свою креативность.
		.course-list
			.course-card.course-card--1
				.course-card__title.t5.fsb Универсальность курса
				.course-card__text Подходит как начинающим, так и опытным дизайнерам, студентам и любителям моды, желающим освоить уникальный метод макетирования.


			.course-card.course-card--2
				.course-card__title.t5.fsb Развитие творческого потенциала
				.course-card__text Курс помогает раскрыть творческий потенциал и научиться создавать стильные наряды с учётом индивидуальных предпочтений.
			.course-card.course-card--3
				.course-card__title.t5.fsb Практические навыки
				.course-card__text Освоение уникального метода макетирования одежды, который можно применять в работе над собственными коллекциями.


