@import "src/assets/css/vars_mixins/vars_mixins";

.about{
	&-inner{
		display: grid;
		grid-template-columns:	1fr 1fr;
		gap: 4.8rem;
		align-items: center;
		max-width: 120rem;
		margin: 0 auto;
		@media (max-width: $sm - 1) {
			grid-template-columns: 1fr;
		}
	}

	&-info{
		&__descr{
			margin-top: 2.4rem;
		}
		&__list{
			margin-top: 3.2rem;


		}
	}

	&-img{
		@media (max-width: $xs - 1) {
			padding: 0 15px;
		}
		&__wrap{
			width: 100%;
			aspect-ratio: 1;

			//overflow: hidden;
			position: relative;

			&:before{
				content: '';
				position: absolute;
				inset: 0;
				background-color: var(--base-color-hover);
				border-radius: var(--radius);transform: translate(-1.6rem, 1.6rem);
				box-shadow: var(--shadow-md);
			}
			img{
				z-index: 2;
				width: 100%;
				height: 100%;
				object-fit: cover;
				position: absolute;
				border-radius: var(--radius);
				box-shadow: var(--shadow-md);
			}
		}
	}
}

.course{
	&-subtitle{
		max-width: 84rem;
		margin: 0 auto;
		text-align: center;
	}
	&-list{
		margin: 4.8rem auto 0;
		max-width: 56rem;
		gap: 3.2rem;
		flex-direction: column;
		display: flex;
	}
	&-card{
		background-color: #fff;
		border-radius: var(--radius);
		padding: 3.2rem 3.2rem 2.4rem 12rem;
		box-shadow: var(--shadow-sm);
		background-repeat: no-repeat;
		background-size: 8rem 8rem;
		background-position: 2rem 3.6rem ;
		&--1{
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' viewBox='0 0 100 100'%3E%3Cpath d='M69.294 11.442c-6.788-5.594-15.724-7.82-24.512-6.109-11.831 2.303-21.333 12.29-23.107 24.287-1.447 9.79 2.031 19.567 9.304 26.155 3.277 2.968 5.254 7.243 5.568 12.039.006.087.023.171.042.254v15.039a1.5 1.5 0 0 0 1.5 1.5h1.495c.609 4.359 3.813 7.697 7.672 7.697h6.81c3.859 0 7.062-3.338 7.671-7.697h1.495a1.5 1.5 0 0 0 1.5-1.5V67.828l.001-.01c0-4.462 2.026-8.771 5.706-12.133a29.341 29.341 0 0 0 9.538-21.61 29.23 29.23 0 0 0-10.683-22.633zM45.357 39.91h-2.305c-1.271 0-2.305-1.034-2.305-2.305s1.034-2.305 2.305-2.305 2.305 1.034 2.305 2.305v2.305zm10.609-2.305a2.308 2.308 0 0 1 2.306-2.305c1.271 0 2.305 1.034 2.305 2.305s-1.034 2.305-2.305 2.305h-2.303l-.003-2.305zm-.903 31.606h6.67v12.396H60.36l-.01-.001-.01.001H40.982l-.01-.001-.01.001H39.59V69.211h14.366m-5.599-3V42.91h4.617l.034 23.301h-4.651zm5.709 23.093h-6.81c-2.238 0-4.117-2.004-4.637-4.697h16.083c-.519 2.693-2.398 4.697-4.636 4.697zm14.35-35.833c-3.872 3.537-6.164 8.013-6.593 12.74h-5.816l-.033-23.301h2.298a5.311 5.311 0 0 0 5.305-5.305 5.311 5.311 0 0 0-5.305-5.305 5.312 5.312 0 0 0-5.306 5.307l.003 2.303h-4.612v-2.305a5.311 5.311 0 0 0-5.305-5.305 5.311 5.311 0 0 0-5.305 5.305 5.311 5.311 0 0 0 5.305 5.305h2.305v23.301h-5.972c-.636-5.005-2.864-9.465-6.393-12.66-6.528-5.914-9.65-14.696-8.35-23.493 1.591-10.76 10.108-19.716 20.712-21.781 7.908-1.538 15.938.458 22.03 5.48a26.245 26.245 0 0 1 9.592 20.319 26.328 26.328 0 0 1-8.56 19.395z' style='fill: rgb(240, 154, 154);'/%3E%3C/svg%3E");
		}
		&--2{
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' viewBox='0 0 100 100'%3E%3Cpath d='M93.998 45.312c0-3.676-1.659-7.121-4.486-9.414a8.276 8.276 0 0 0 .184-1.706c0-4.579-3.386-8.382-7.785-9.037a8.212 8.212 0 0 0 .149-1.556c0-4.875-3.842-8.858-8.655-9.111a1.481 1.481 0 0 0-.242-.024c-.04 0-.079.005-.12.006-.04-.001-.079-.006-.12-.006-.458 0-.919.041-1.406.126a9.594 9.594 0 0 0-9.437-7.825c-5.311 0-9.632 4.321-9.632 9.633v65.918c0 6.723 5.469 12.191 12.191 12.191 4.46 0 8.508-2.413 10.646-6.246.479.104.939.168 1.401.198 2.903.185 5.73-.766 7.926-2.693a10.866 10.866 0 0 0 3.7-7.51 10.62 10.62 0 0 0-.403-3.638c3.796-2.691 6.027-6.952 6.027-11.621 0-3.385-1.219-6.635-3.445-9.224 2.24-2.268 3.507-5.302 3.507-8.461zm-3.06 17.687c0 3.484-1.582 6.68-4.295 8.819-2.008-3.196-5.57-5.237-9.427-5.237a1.5 1.5 0 0 0 0 3 8.168 8.168 0 0 1 7.582 5.208c.41 1.088.592 2.189.521 3.274a7.881 7.881 0 0 1-2.685 5.449 7.881 7.881 0 0 1-5.752 1.954c-.594-.039-1.208-.167-1.933-.402a1.5 1.5 0 0 0-1.846.84 9.182 9.182 0 0 1-8.465 5.604c-5.068 0-9.191-4.123-9.191-9.191V16.399a6.64 6.64 0 0 1 6.632-6.633c3.398 0 6.194 2.562 6.558 5.908-2.751 1.576-4.612 4.535-4.612 7.926a1.5 1.5 0 1 0 3 0c0-3.343 2.689-6.065 6.016-6.13 3.327.065 6.016 2.787 6.016 6.129 0 .622-.117 1.266-.359 1.971a1.505 1.505 0 0 0-.074.63l-.01.035a1.5 1.5 0 0 0 1.552 1.866 5.31 5.31 0 0 0 .392-.046 6.143 6.143 0 0 1 6.136 6.136c0 .572-.103 1.159-.322 1.849a1.499 1.499 0 0 0 .591 1.7 9.106 9.106 0 0 1 4.014 7.242l-.001.012c0 5.03-4.092 9.123-9.122 9.123s-9.123-4.093-9.123-9.123a1.5 1.5 0 1 0-3 0c0 6.685 5.438 12.123 12.123 12.123 2.228 0 4.31-.615 6.106-1.668 1.92 2.09 2.978 4.763 2.978 7.55zM38.179 6.766a9.591 9.591 0 0 0-9.435 7.825 8.126 8.126 0 0 0-1.407-.126c-.04 0-.079.005-.12.006-.04-.001-.079-.006-.12-.006-.083 0-.163.011-.242.024-4.813.253-8.654 4.236-8.654 9.111 0 .514.049 1.03.149 1.556-4.399.655-7.785 4.458-7.785 9.037 0 .554.061 1.118.184 1.706a12.109 12.109 0 0 0-4.486 9.414c0 3.159 1.266 6.193 3.505 8.463C7.541 56.365 6.322 59.615 6.322 63c0 4.669 2.231 8.929 6.027 11.621a10.574 10.574 0 0 0-.402 3.639 10.864 10.864 0 0 0 3.699 7.509 10.885 10.885 0 0 0 7.926 2.693c.455-.03.919-.096 1.4-.199a12.172 12.172 0 0 0 10.646 6.247c6.722 0 12.191-5.469 12.191-12.191v-65.92c.002-5.312-4.319-9.633-9.63-9.633zm6.632 75.551c0 5.068-4.123 9.191-9.191 9.191a9.18 9.18 0 0 1-8.464-5.604 1.5 1.5 0 0 0-1.846-.84c-.724.235-1.338.363-1.933.402a7.874 7.874 0 0 1-5.751-1.954 7.881 7.881 0 0 1-2.685-5.449c-.076-1.16.125-2.336.598-3.495.007-.017.005-.036.011-.053 1.342-3.056 4.225-4.953 7.597-4.953a1.5 1.5 0 1 0 0-3 11.264 11.264 0 0 0-9.548 5.239c-2.701-2.139-4.277-5.327-4.277-8.802 0-2.787 1.06-5.46 2.978-7.549a12.035 12.035 0 0 0 6.107 1.668c6.685 0 12.123-5.438 12.123-12.123a1.5 1.5 0 1 0-3 0c0 5.03-4.092 9.123-9.123 9.123s-9.123-4.093-9.123-9.123l-.001-.006a9.108 9.108 0 0 1 4.013-7.248 1.499 1.499 0 0 0 .591-1.699c-.22-.691-.322-1.278-.322-1.85 0-3.376 2.741-6.125 6.195-6.125h.022c.103.014.206.027.311.034a1.499 1.499 0 0 0 1.54-1.907c.003-.035.006-.067.007-.095a1.486 1.486 0 0 0-.081-.529c-.242-.707-.359-1.352-.359-1.972 0-3.342 2.688-6.065 6.016-6.129 3.328.065 6.016 2.787 6.016 6.13a1.5 1.5 0 1 0 3 0c0-3.391-1.861-6.35-4.612-7.926.364-3.346 3.16-5.908 6.558-5.908a6.64 6.64 0 0 1 6.632 6.633v65.919z' style='fill: rgb(240, 154, 154);'/%3E%3C/svg%3E");
		}
		&--3{
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' viewBox='0 0 100 100'%3E%3Cpath d='m84.362 92.304-11.5-23c-.6-1.1-.7-1.4-1-2l-14.3-28.5v-21.3h6.2c.8 0 1.5-.7 1.5-1.5v-7.7c0-.8-.7-1.5-1.5-1.5h-30.8c-.8 0-1.5.7-1.5 1.5v7.7c0 .8.7 1.5 1.5 1.5h6.2v21.2l-14.3 28.6c-.3.6-.5 1.1-1 2l-11.5 23c-.2.5-.2 1 .1 1.5.3.5.8.7 1.3.7h69.3c.5 0 1-.3 1.3-.7.3-.4.2-1 0-1.5Zm-42.4-52.5c.1-.2.2-.4.2-.7v-23.1c0-.8-.7-1.5-1.5-1.5h-6.2v-4.7h27.8v4.7h-6.2c-.8 0-1.5.7-1.5 1.5v23.1c0 .2.1.5.2.7l14.1 28.1c-.5.3-.8.6-1.2.8-.6.5-1 .8-2 .8s-1.3-.3-2-.8c-.8-.6-1.9-1.5-3.8-1.5-2 0-3 .9-3.8 1.5-.6.5-1 .8-1.9.8-.9 0-1.3-.3-1.9-.8-.8-.6-1.9-1.5-3.8-1.5-2 0-3 .9-3.8 1.5-.6.5-1 .8-1.9.8-.9 0-1.3-.3-1.9-.8-.8-.6-1.9-1.5-3.8-1.5s-3 .9-3.8 1.5c-.6.5-1 .8-1.9.8-.9 0-1.3-.3-1.9-.8-.3-.3-.7-.6-1.2-.8l13.7-28.1Zm-25.8 51.7 10.4-20.9c.2.1.4.3.6.5.8.6 1.9 1.5 3.8 1.5 2 0 3-.9 3.8-1.5.6-.5 1-.8 1.9-.8.9 0 1.3.3 1.9.8.8.6 1.9 1.5 3.8 1.5s3-.9 3.8-1.5c.6-.5 1-.8 1.9-.8.9 0 1.3.3 1.9.8.8.6 1.9 1.5 3.8 1.5 2 0 3-.9 3.8-1.5.6-.5 1-.8 1.9-.8.9 0 1.3.3 2 .8.8.6 1.9 1.5 3.8 1.5s3-.9 3.8-1.5c.2-.2.4-.3.6-.5l10.4 20.9h-63.9Z' style='fill: rgb(240, 154, 154);'/%3E%3C/svg%3E");
		}

		&__title{
			margin-bottom: 2.4rem;
		}
		&__text{
			font-size: .9em;
		}
	}
}