mixin modal(args = {})
	//-
		+modal({
			id: 'modal-NAME',
			mod: 'modal-NAME',
			title: 'TITLE',
			header: true,
			dialog_mod: ''
		})



	.modal.fade(
		id = args.id, 
		class= args.mod tabindex='-1', 
		aria-modal= 'true',
		aria-hidden='true',
		)
		.modal-dialog.modal-dialog-centered(class= args.dialog_mod role='document')
			.modal-content
				button.modal-close(type="button" data-dismiss="modal" aria-label="Close")
						+icon('i-close')(style='width: 26px; height: 26px;')
				if (args.header)
					.modal-header
						.modal-title.t3=args.title
				.modal-body
					block
			block modal-inner
