@import "src/assets/css/vars_mixins/vars_mixins";

body {
	background-color: var(--black_bg_black);
}

body.overflow {
	overflow: hidden;
	width: calc(100vw - var(--scrollWidth));


}

body.overflow .header {
	padding-right: var(--scrollWidth);
}



.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	background-color: #fff;

	&-top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 20px;
		@media(max-width: $sm - 1) {
			padding: 10px 0;
		}

		&__schedule{
			.contacts-body__item-title{
				color: $c-text;

				p{
					color: $c-primary;
					text-transform: none;
					&:first-child{
						margin-top: 5px;
					}
				}
			}
			@media (max-width: $lg - 1) {
				display: none;
			}
		}

		&__left {
			display: flex;
			align-items: center;
			-webkit-column-gap: 40px;
			-moz-column-gap: 40px;
			column-gap: 40px;
			@media(max-width: $xs - 1) {
				-webkit-column-gap: 0;
				-moz-column-gap: 0;
				column-gap: 0;
			}
		}

		&__mid {
			display: flex;
			align-items: center;
			transition: all ease .3s;

			&:hover {
				cursor: pointer;
				color: $c-primary;
			}

			span {
				margin-left: 5px;
			}

			@media(max-width: $sm - 1) {
				display: none;
			}
		}
	}

	&-descr {
		align-self: flex-start;
	}

	&-logo {
		//flex: 0 0 200px;
		&__link {
			max-width: 200px;
			display: flex;
			flex-direction: column;
			align-items: center;
			overflow: hidden;
			@media(max-width: $sm - 1) {
				max-width: 140px;
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: contain;

				&:last-child {
					@media(max-width: $sm - 1) {
						display: none;
					}
				}

				@media(max-width: $xs - 1) {
					display: none;
				}
			}
		}
	}

	&-bottom {
		background-color: $c-header;

	}

	&-nav {
		position: relative;
		height: 80px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: #fff;
		font-size: 18px;
		@media(max-width: $xl - 1) {
			font-size: 16px;
		}
		@media(max-width: $md - 1) {
			font-size: 14px;
		}
		@media(max-width: $sm - 1) {
			margin: 0 -10px;
			height: 50px;
			.burger-icon {
				position: absolute;
				left: 10px;
				top: 0;
				bottom: 0;
				margin: auto 0;
			}
		}

		&__list {
			display: flex;
			width: 100%;
			justify-content: space-between;
			-webkit-column-gap: 40px;
			-moz-column-gap: 40px;
			column-gap: 40px;
			@media(max-width: $xl - 1) {
				-webkit-column-gap: 32px;
				-moz-column-gap: 32px;
				column-gap: 32px;
			}
			@media(max-width: $lg - 1) {
				-webkit-column-gap: 24px;
				-moz-column-gap: 24px;
				column-gap: 24px;
			}
			@media(max-width: $sm - 1) {
				opacity: 0;
				visibility: hidden;
				flex-direction: column;
				position: absolute;
				z-index: 10;
				top: 50px;
				//left: -10px;
				//right: -10px;
				//padding: 0 10px;
				width: 100%;
				//height: calc(100vh - 10px);
				background-color: $c-header;
				transform: translateX(-100%);
				transition: all ease .3s;

			}

		}

		&.active {
			//margin: 0 -10px;
			//padding: 0 10px;
			.burger-icon {
				//margin-left: 10px;
			}

			.header-nav__list {
				visibility: visible;
				opacity: 1;
				transform: translateX(0);

				&:before {
					content: '';
					width: 130%;
					height: 100%;
					background-color: $c-header;
					position: absolute;
					display: block;
					left: -50px;
					z-index: -1;
				}
			}
		}

		&__item {
			display: flex;
			align-items: center;
			@media(max-width: $sm - 1) {
				padding: 5px;
				transition: all ease .3s;
				&:hover {
					background-color: #6d6d6d;
				}
			}
		}

		&__link {
			padding: 5px 10px;
			@media(max-width: $md - 1) {
				padding: 5px;
			}
			@media(max-width: $sm - 1) {
				padding: 5px;
				width: 100%;
			}
		}
	}
}


body.overflow {
	overflow: hidden;
	width: calc(100vw - var(--scrollWidth));

}

body.overflow .header {
	padding-right: var(--scrollWidth);
}



.header{
	position: relative;
	z-index: 100;
	//background-color: transparent;

	&-inner{
		display: flex;
		align-items: center;
		height: var(--headerHeight);
		gap: 32px;
		padding: 16px 24px;
		//backdrop-filter: blur(7px);
		//-webkit-backdrop-filter: (7px);
		//border-radius: var(--radius);
		//background-color: rgba(255, 255, 255, 0.7);

	}
	&-logo{
		height: 40px;
		width: 200px;
		position: relative;
		@media (max-width: $md - 1) {
			position: relative;
			//z-index: 101;
		}
		@media (max-width: $xs - 1) {
			max-width: 150px;
			display: flex;
			align-items: center;
		}
		img{
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	&-menu{
		display: flex;
		align-items: center;
		gap: 40px;
		margin-left: 70px;
		flex-grow: 1;
		justify-content: space-between;
		@media (max-width: $md - 1) {
			flex-direction: column;
			background-color: var(--main);
			height: 100%;
			margin-left: 0;
			padding: 80px 16px 40px;
			position: absolute;
			inset: 0;
			overflow: auto;
		}
		&__wrap{
			display: contents;
			@media (max-width: $md - 1) {
				display: block;
				position: fixed;
				top: 0;
				z-index: 100;
				left: 0;
				height: 100dvh;
				width: 100%;
				transform: translateX(calc(100% + 20px));
				transition: all ease .6s;
				&.active{
					transform: none;
				}
				//max-width: 380px;
			}
		}
		&__links{
			font-size: 16px;
			text-transform: uppercase;
			font-weight: 600;
			display: flex;
			align-items: center;
			gap: 40px;
			@media (max-width: $md - 1) {
				flex-direction: column;
			}
		}
		&__item{
			color: var(--text-color-black);
			display: inline-flex;
			align-items: center;
			line-height: 1;
			@media (max-width: $md - 1) {
				color: #ffffff;
				font-size: 20px;
			}
			@media (max-width: $sm - 1) {
				font-size: 16px;
				flex-shrink: 0;
				white-space: nowrap;
			}
		}
		&__phones{
			display: flex;
			flex-direction: column;
			gap: 1rem;

			@media (max-width: $sm - 1) {
				gap: 4px;
			}
		}
		&__phone{
			font-size: .9em;
			color: var(--main);
			@media (max-width: $sm - 1) {
				font-size: 16px;
				margin-bottom: 4px;
				font-weight: 600;
			}
		}
	}

}

.header-mobile{
	@media (min-width: $md){
		display: none;
	}

	margin-left: auto;
	display: flex;
	align-items: center;
	gap: 8px;
	.header-menu__item{
		font-size: 14px;
	}
	.header-menu__phone{
		font-size: 12px;
		margin-bottom: 0px;
	}

}

.burger-icon{
	height: 24px;
	width: 24px;
	position: relative;
	flex-shrink: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
	display: block;
	z-index: 101;
	@media (min-width: $md){
		width: 2.4rem;
		height: 2.4rem;
		margin-right: .5rem;
	}
	span{

		position: absolute;
		height: 0.2rem;
		right: .1rem;
		background: var(--main);
		opacity: 1;
		left: 0.1rem;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: .25s ease-in-out;
		-moz-transition: .25s ease-in-out;
		-o-transition: .25s ease-in-out;
		transition: .25s ease-in-out;
		@media (max-width: $md - 1) {
			background-color: var(--main);
			height: 2px;
			left: 2px;
			right: 2px;
		}
		&:nth-child(1){
			top: 6px;
			//width: 100%;
			margin: auto;
			@media (min-width: $md){
				top: 0.6rem;
			}
		}
		&:nth-child(2){
			top: 12px;
			@media (min-width: $md){
				top: 1.2rem;
			}
		}
		&:nth-child(3){
			top: 12px;
			@media (min-width: $md){
				top: 1.2rem;
			}
		}
		&:nth-child(4){
			top: 18px;
			//width: 100%;
			margin: auto;
			@media (min-width: $md){
				top: 1.8rem;
			}
		}
	}
	&.active{
		span{
			background: #ffffff;
			&:nth-child(1){
				display: none;
			}
			&:nth-child(2){
				-webkit-transform: rotate(45deg);
				-moz-transform: rotate(45deg);
				-o-transform: rotate(45deg);
				transform: rotate(45deg);
			}
			&:nth-child(3){

				-webkit-transform: rotate(-45deg);
				-moz-transform: rotate(-45deg);
				-o-transform: rotate(-45deg);
				transform: rotate(-45deg);
				@media (min-width: $xs){
					top: 12px;
				}
			}
			&:nth-child(4){
				display: none;
			}
		}
	}
}