header.header.header-usa
	.container
		.header-inner
			.header-logo
				a(href="/").header-logo__link
					img(src=PATH + 'images/logo.jpg')
					img(src=PATH + 'images/logo-bottom.jpg')
			.burger-icon
				span
				span
				span
				span
			.header-menu__wrap.js-header
				.close
					<svg width="16" height="16" viewBox="0 0 16 16" fill="white" xmlns="http://www.w3.org/2000/svg">
					<path d="M13.1717 13.7431C13.0966 13.7432 13.0223 13.7284 12.9529 13.6996C12.8836 13.6708 12.8206 13.6286 12.7676 13.5754L2.42246 3.2316C2.31516 3.12431 2.25488 2.97878 2.25488 2.82703C2.25488 2.67529 2.31516 2.52976 2.42246 2.42246C2.52976 2.31516 2.67529 2.25488 2.82703 2.25488C2.97878 2.25488 3.12431 2.31516 3.2316 2.42246L13.5767 12.7676C13.6565 12.8476 13.7107 12.9494 13.7326 13.0602C13.7546 13.171 13.7432 13.2858 13.7 13.3901C13.6568 13.4945 13.5836 13.5837 13.4898 13.6465C13.3959 13.7093 13.2856 13.7429 13.1726 13.7431H13.1717Z" fill="#FFFFFF"/>
					<path d="M2.82766 13.7431C2.71465 13.7431 2.60417 13.7096 2.51019 13.6469C2.4162 13.5841 2.34291 13.4949 2.29957 13.3906C2.25624 13.2862 2.2448 13.1713 2.2667 13.0604C2.2886 12.9496 2.34287 12.8477 2.42264 12.7676L12.7678 2.42246C12.8751 2.31516 13.0206 2.25488 13.1723 2.25488C13.3241 2.25488 13.4696 2.31516 13.5769 2.42246C13.6842 2.52976 13.7445 2.67529 13.7445 2.82703C13.7445 2.97878 13.6842 3.12431 13.5769 3.2316L3.23178 13.5767C3.17868 13.6297 3.11565 13.6717 3.0463 13.7002C2.97696 13.7288 2.90266 13.7434 2.82766 13.7431Z" fill="#FFFFFF"/>
					</svg>

				.header-menu
					.header-menu__links
						a(href="#services").header-menu__item
							span Порядок работы
						a(href="#team").header-menu__item
							span Услуги
						a(href="#price").header-menu__item
							span Расчет стоимости

						a(href="#contacts").header-menu__item
							span контакты
						a(href="/").header-menu__item
							span СТО
					.header-menu__control

				.header-menu__phones
					include ../modules/phones-list
