header.header
	.container
		.header-inner
			.header-logo
				img(src=PATH + 'images/logo.jpg')
			.header-menu__wrap
				.header-menu
					.header-menu__links
						a(href="#services").header-menu__item
							span Порядок работы
						a(href="#team").header-menu__item
							span Услуги
						a(href="#price").header-menu__item
							span Расчет стоимости

						a(href="#contacts").header-menu__item
							span контакты
					.header-menu__control



				.header-menu__phones
					include ../modules/phones-list
				.header-mob.burger-icon


					span
					span
					span
					span
