@import "src/assets/css/vars_mixins/vars_mixins";

.hero {
	position: relative;
	height: 100%;
	display: flex;
	gap: 30px;
	flex-direction: column;
	padding-top: 230px;
	padding-bottom: 60px;

	@media (max-width: $md - 1) {
		padding-top: 200px;
	}
	@media (max-width: $sm - 1) {
		padding-top: 165px;
		gap: 20px;
		padding-bottom: 40px;
	}

	&-title{
		text-align: center;
		font-size: 40px;
		font-weight: 700;
		@media (max-width: $md - 1) {
			font-size: 32px;
		}

		@media (max-width: $sm - 1) {
			font-size: 24px;
		}
	}


	&__items{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 32px;
		@media (max-width: $md - 1) {
			gap: 16px;
		}
		@media (max-width: $xs - 1) {
			flex-direction: column;
			display: flex;
		}
	}
	&__item{
		padding: 32px 24px;
		position: relative;
		transition: all ease .3s;
		border-radius: 12px;
		border: 2px solid var(--base-color);
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 12px;
		text-align: center;

		@media (max-width: $md - 1) {
			padding: 24px 16px;
			h2{
				font-size: 16px;
			}
		}

		&:hover {
			@media (hover: hover) {
				cursor: pointer;

			}
		}


		.btn{
			margin-top: auto;
			width: 100%;
			pointer-events: auto;
			@media (max-width: $sm - 1) {
				height: 40px;
				font-size: 16px;
			}
		}
	}

}
