.hero
	.hero-title Наши услуги
	.hero__items
		.hero__item
			.hero__item-icon

			h2 Подбор автомобилей на аукционах США и Канады
			.btn.btn--primary
				span Перейти

		.hero__item
			.hero__item-icon
			h2 Ремонт и обслуживание автомобилей
			.btn.btn--primary
				span Перейти

		.hero__item
			.hero__item-icon
			h2 Подбор автомобилей в РБ
			.btn.btn--primary
				span Скоро...

