.hero

	//-.hero-bg
	.hero-logo
		img(src=PATH + '/images/logo.jpg')
	.hero__items
		.hero__item
			.hero__item-content
				h2 Подбор авто из Америки и Канады
				.btn.btn--primary
					span Перейти
			img(src=PATH+'images/i-usa.jpg')
		.hero__item
			.hero__item-content
				h2 Услуги СТО
				.btn.btn--primary
					span Перейти
			img(src=PATH+'images/i-sto.jpg')
		.hero__item
			.hero__item-content
				h2 Подбор авто в РБ
				.btn.btn--primary
					span Скоро...
			img(src=PATH+'images/i-rb.jpg')