.content
	.container
		a(href="/").content-link
			+icon('article-arrow')(style="width:2.4rem;height:2.4rem")
			span На главную
		.h2.t3.fsb.section-title Политика обработки персональных данных в<br>ООО «Творческая мастерская моды и дизайна»



		.content-block
			h3.t4 1. Общие положения

			p Настоящая политика обработки персональных данных составлена в соответствии с Законом Республики Беларусь «Об информации, информатизации и защите информации» №455-З от 10.11.2008 (далее – Закон «Об информации), Законом Республики Беларусь «О защите персональных данных» №99-З от 07.05.2021 (далее –Закон о защите персональных данных), иным законодательством Республики Беларусь и определяет порядок обработки персональных данных и меры по обеспечению безопасности персональных данных, предпринимаемые Обществом с ограниченной ответственностью «Творческая мастерская моды и дизайна» (далее – Оператор).
			p Наименование, местонахождение и иные контактные данные Оператора:
			p Наименование Оператора: Общество с ограниченной ответственностью «Творческая мастерская моды и дизайна»;
			p Юридический (почтовый) адрес Оператора: Республика Беларусь, 220033, г. Минск, ул. Тростенецкая, д. 3, пом. 502;
			p Электронный адрес: <a href="mailto:26tsylko@mail.ru">26tsylko@mail.ru</a>
			p Телефон: <a href="tel:+375291784569">+375 29 178-45-69</a>
			p Сайт оператора: <a href="https://tmdesign.by/">https://tmdesign.by/</a>

			p 1.1. Оператор ставит своей важнейшей целью и условием осуществления своей деятельности соблюдение прав и свобод человека и гражданина при обработке его персональных данных, в том числе защиты прав на неприкосновенность частной жизни, личную и семейную тайну.
			p 1.2. Настоящая политика обработки персональных данных (далее – Политика) действует в отношении персональных данных, обрабатываемых Оператором, которые получены:

			p 1.2.1. посредством использования субъектами персональных данных интернет-сайта;
			p 1.2.2. посредством электронной почты, онлайн-переписок в мессенджерах Telegram, Viber, WhatsApp, Skype, телефона (в ходе телефонного разговора);
			p 1.2.3. посредством онлайн-переписок в социальной сети Instagram <a href="https://www.instagram.com/tsylko/">https://www.instagram.com/tsylko/</a>, в социальной сети Facebook (<a href="https://www.facebook.com/">https://www.facebook.com/</a>), в социальной сети ВКонтакте (<a href="https://vk.com/">https://vk.com/</a>), в канале t.me/ в мессенджере Telegram;
			p 1.2.4. от физических лиц, представителей и (или) уполномоченных лиц юридического лица, физических лиц индивидуальных предпринимателей (а также их представителей и уполномоченных лиц), с которыми Оператором заключены либо будут заключены (планируются к заключению) гражданско-правовые сделки (договоры);
			p 1.2.5. от субъектов персональных данных, предоставивших Оператору персональные данные путем направления письменных (в том числе внесенных в книгу замечаний и предложений) и электронных обращений, а также в ходе личного приема;
			p 1.2.6. от физических лиц (в том числе физических лиц, предоставляющих интересы клиентов, контрагентов) – посетителей места нахождения (офиса) Оператора.
		.content-block
			h3.h3 2.    В настоящем Положении используются термины и их определения в значениях, установленных Законом «О защите персональных данных» и Законом «Об информации».

		.content-block
			h3.h3 3.    Принципы обработки персональных данных

			p 3.1. Обработка персональных данных Оператором осуществляется в соответствии со следующими принципами:
			p 3.1.1. принцип законности: обработка персональных данных осуществляется на законной, открытой и справедливой основе. Обработка персональных данных осуществляется в соответствии с законодательством и является прозрачной, обеспечивает справедливый баланс интересов. Скрытая обработка персональных данных не осуществляется. Обработка персональных данных осуществляется с согласия субъекта персональных данных, за исключением случаев, предусмотренных Законом о защите персональных данных и иными законодательными актами;
			p 3.1.2. принцип конфиденциальности: Оператор обрабатывает персональные данные способом, обеспечивающим надлежащую безопасность персональных данных с помощью правовых, технических и организационных мер, включая защиту от несанкционированной или незаконной обработки, а также от случайной потери, уничтожения или повреждения;
			p 3.1.3. принцип ограничения цели обработки персональных данных: обработка персональных данных ограничивается достижением конкретных, заранее определенных и законных целей. Не допускается обработка персональных данных, несовместимая с целями сбора персональных данных;
			p 3.1.4. принцип минимизации: обработке подлежат только те персональные данные, которые отвечают целям их обработки; не допускается объединение баз данных, содержащих персональные данные, обработка которых осуществляется в целях, несовместных между собой;
			p 3.1.5. принцип прозрачности: соответствуют заявленным целям обработки. Обрабатываемые персональные данные не являются избыточными по отношению к заявленным целям обработки;
			p 3.1.6. принцип достоверности и точности: при обработке персональных данных обеспечивается точность персональных данных, их достаточность, а в необходимых случаях и актуальность по отношению к заявленным целям их обработки;
			p 3.1.7. принцип ограничения срока хранения персональных данных: хранение персональных данных осуществляется в форме, позволяющей определить субъекта персональных данных не дольше, чем этого требуют цели обработки персональных данных. После прекращения деловых (клиентских) отношений (достижения цели обработки), Оператор хранит персональные данные исходя из срока, установленного законодательством Республики Беларусь, а в случаях, когда срок хранения в законодательстве прямо не определен - в течение срока, необходимого и достаточного для исполнения требований законодательства и/или прекращения основания для хранения персональных данных с целью исполнения Оператором законодательства.

		.content-block
			h3.h3 4.    Основные права и обязанности Оператора

			p 4.1. Оператор имеет право:
			p 4.1.1. Получать от субъекта персональных данных достоверные информацию и/или документы, содержащие персональные данные;
			p 4.1.2. В случае отзыва субъектом персональных данных согласия на обработку персональных данных Оператор вправе продолжить обработку персональных данных без согласия субъекта персональных данных при наличии оснований, указанных в Законе о защите персональных данных;
			p 4.1.3. Самостоятельно определять состав и перечень мер, необходимых и достаточных для обеспечения выполнения обязанностей, предусмотренных Законом о защите персональных данных и принятыми в соответствии с ним нормативными правовыми актами, если иное не предусмотрено Законом о защите персональных данных или законодательством Республики Беларусь.
			p 4.2. Оператор обязан:
			p 4.2.1. Предоставлять субъекту персональных данных по его просьбе информацию, касающуюся обработки его персональных данных;
			p 4.2.2. Организовывать обработку персональных данных в порядке, установленном действующим законодательством Республики Беларусь;
			p 4.2.3. Отвечать на обращения и запросы субъектов персональных данных и их законных представителей в соответствии с требованиями Закона о защите персональных данных;
			p 4.2.4. Сообщать в уполномоченный орган по защите прав субъектов персональных данных по запросу этого органа необходимую информацию в течение 30 дней с даты получения такого запроса;
			p 4.2.5. Публиковать или иным образом обеспечивать неограниченный доступ к настоящей Политике в области обработки персональных данных;
			p 4.2.6. Принимать правовые, организационные и технические меры для защиты персональных данных от неправомерного или случайного доступа к ним, уничтожения, изменения, блокирования, копирования, предоставления, распространения персональных данных, а также от иных неправомерных действий в отношении персональных данных;
			p 4.2.7. Прекратить передачу (распространение, предоставление, доступ) персональных данных, прекратить обработку и уничтожить персональные данные в порядке и случаях, предусмотренных Законом о персональных данных;
			p 4.2.8. Исполнять иные обязанности, предусмотренные Законом о защите персональных данных.

		.content-block
			h3.h3 5. Основные права и обязанности субъекта персональных данных
			p 5.1. Субъект персональных данных имеет право:
			.table-wrap
				table.table
					thead
						th
						th Право
						th Последствия
					tbody
						tr
							td 5.1.1.
							td потребовать от Оператора внести изменения, если персональные данные устарели, неполные или неточные
							td Оператор в срок до 15 календарных дней с момента получения запроса внесет изменения в Ваши персональные данные, если они являются неполными, устаревшими или неточными
						tr
							td 5.1.2.
							td на получение информации, касающейся обработки персональных данных
							td Оператор в течение 5 рабочих дней после получения Вашего заявления предоставит запрашиваемую Вами информацию либо уведомит Вас о причинах отказа в ее предоставлении
						tr
							td 5.1.3.
							td один раз в календарный год бесплатно получать информацию о предоставлении своих данных третьим лицам
							td Оператор в срок до 15 календарных дней с момента получения Вашего заявления предоставит информацию о том, какие Ваши персональные данные и кому предоставлялись в течение года, предшествовавшего дате подачи заявления, либо уведомит Вас о причинах отказа в ее предоставлении
						tr
							td 5.1.4.
							td отозвать согласие на обработку своих персональных данных
							td Оператор в срок до 15 календарных дней с момента получения отзыва прекратит обработку Ваших персональных данных за исключением случаев, когда Оператор вправе продолжить обработку персональных данных при наличии иных правовых оснований, и уведомит Вас об этом
						tr
							td 5.1.5.
							td потребовать прекратить обработку своих данных, их удаление
							td Оператор в срок до 15 календарных дней с момента получения запроса прекратит обработку Ваших персональных данных, осуществит их удаление, за исключением случаев, когда Оператор вправе продолжить обработку персональных данных при наличии иных правовых оснований, и уведомит Вас об этом
						tr
							td 5.1.6.
							td обжаловать действия/бездействий и решения Оператора, относящегося к обработке своих персональных данных, в уполномоченный орган по защите прав субъектов персональных данных — Национальный центр защиты персональных данных Республики Беларусь, в порядке, установленном законодательством
							td
			p 5.2. Для реализации субъектом персональных данных своих прав, изложенных в пункте 5.1.1.-5.1.5, необходимо подать заявление Оператору письменно по почте (220033 Республика Беларусь,  г. Минск, ул. Тростенецкая, д. 3, пом. 502).
			p 5.3. Заявление должно содержать:
			ul

				li фамилию, имя, отчество (если таковое имеется) субъекта персональных данных;
				li дату рождения субъекта персональных данных;
				li адрес места жительства (места пребывания) субъекта персональных данных;
				li номер мобильного телефона и/или электронную почту, указанную при регистрации на Сайте;
				li суть требований;
				li идентификационный номер или номер документа, удостоверяющего личность (при отсутствии идентификационного номера) субъекта персональных данных, если такая информация указывалась субъектом персональных данных при даче согласия или обработка персональных данных осуществляется без согласия субъекта персональных данных;
				li личную подпись.
			p 5.4. Право на обжалование действий (бездействий) и решений Оператора (п. 5.1.6.), связанных с обработкой персональных данных, осуществляется в уполномоченный орган по защите прав субъектов персональных данных — Национальный центр защиты персональных данных Республики Беларусь в порядке, установленном законодательством Республики Беларусь об обращениях граждан и юридических лиц.
			p 5.5. За содействием в реализации прав субъект персональных данных может также обратиться к лицу, ответственному за осуществление внутреннего контроля за обработкой персональных данных у Оператора, направив сообщение на электронный адрес: <a href="mailto:tanyatskireeva@gmail.com">tanyatskireeva@gmail.com</a>.
			p 5.6. В случае отказа субъекта персональных данных от дачи согласия на обработку персональных данных, отзыва субъекта персональных данных предоставленного им согласия на обработку персональных данных и (или) заявления требования о прекращении их обработки, Оператор не сможет обрабатывать персональные данные, если иное не предусмотрено законодательством.
			p Прекращение обработки Оператором персональных данных субъекта персональных данных может сделать невозможным дальнейшее предоставление такому субъекту персональных данных товаров и услуг.
			p 5.7. Лицо, предоставившее Оператору неполные, устаревшие, недостоверные сведения о себе, либо сведения о другом субъекте персональных данных без согласия последнего, несет ответственность в соответствии с законодательством Республики Беларусь.
			p 5.8. Оператор не рассматривает заявления субъектов персональных данных, направленные иными способами (по телефону, в социальные сети, мессенджеры и т.д.).
		.content-block
			h3.h3 6. Объем и цели обработки персональных данных

			p 6.1. Правовым основанием обработки персональных данных является согласие субъекта персональных данных, за исключением случаев, установленных законодательством Республики Беларусь, когда обработка персональных данных осуществляется без получения такого согласия и происходит в соответствии с иными правовыми основаниями.
			p 6.2. Содержание и объем персональных данных определяется необходимостью достижения конкретных целей их обработки, а также необходимостью Оператора реализовать свои права и обязанности, а также права и обязанности соответствующего субъекта.
			p 6.3. Цели обработки персональных данных
			.table-wrap
				table.table
					thead
						th
						th Цель
						th Объём персональных данных
						th Правовое основание
						th Срок хранения
					tbody
						tr
							td 6.3.1.
							td Заключение, исполнение, изменение и расторжение договора с Клиентами
							td Фамилия, имя, отчество;номер телефона; адрес электронной почты (опционально); адрес места жительства; банковские реквизиты (опционально); иные данные (по усмотрению Клиента) предоставляемые клиентом (его представителем) в рамках заключения и исполнения договора
							td Договор (аб. 15 ст. 6 Закона «О защите персональных данных»)
							td Срок хранения персональных данных: 3 года после окончания срока действия договора, при проведении налоговыми органами проверки соблюдения налогового законодательства, если налоговыми органами проверка соблюдения налогового законодательства не проводилась — 10 лет после окончания срока действия договора — п. 70 Постановления Министерства юстиции Республики Беларусь от 24.05.2012 N 140 «О перечне типовых документов » (далее — Перечень)
						tr
							td 6.3.2.
							td Для проведения маркетинговых и (или) рекламных активностей (акций, конкурсов, розыгрышей, игр и других мероприятий), идентификации субъекта персональных данных в них, анализа данных
							td Фамилия, имя, отчество (опционально); фотоизображение (опционально); видеоизображение (опционально), никнейм в социальных сетях (опционально);паспортные данные (опционально);номер телефона (опционально);адрес электронной почты (опционально);дата рождения (опционально).
							td Согласие;- Абз.19 ст. 6 Закона «О защите персональных данных» (в отношении распространенных ранее персональных данных до момента заявления субъектом персональных данных требований о прекращении обработки распространенных персональных данных, а также об их удалении при отсутствии иных оснований для обработки персональных данных)
							td Срок согласия на обработку персональных данных: — 3 года с момента получения согласия; -до момента распространения персональных данных; Срок хранения: абз.20 ст. 6 Закона, п. 15 Положения о проведении рекламных игр на территории Республики Беларусь, утвержденного Указом Президента Республики Беларусь от 30 января 2003 № 51 «О проведении рекламных игр в Республике Беларусь»
						tr
							td 6.3.3.
							td Для рассмотрения и анализа отзывов и формы «Вопрос-ответ» на Cайте
							td Имя, отчество (опционально); адрес электронной почты (опционально); контактный номер телефона (опционально)
							td Согласие
							td Срок согласия на обработку персональных данных: необходимый для модерации и ответа, но не более, чем на 2 месяца
						tr
							td 6.3.4.
							td Для рассмотрения обращений, в том числе внесенных в книгу замечаний и предложений
							td Фамилия, имя, отчество (либо инициалы);адрес места жительства (места пребывания);суть обращения; иные персональные данные, указанные субъектом в обращении
							td Выполнение обязанностей (полномочий), предусмотренных законодательными актами (аб. 20 ст. 6 и аб.16 п. 2 ст. 8 Закона «О защите персональных данных», п. 1 ст. 3 Закона Республики Беларусь «Об обращениях граждан и юридических лиц»)
							td Срок хранения персональных данных: 5 лет с даты последнего обращения; 5 лет после окончания ведения книги замечаний и предложений — п. 89 Перечня

						tr
							td 6.3.5.
							td Для проведения рассылок маркетингового, рекламного, новостного характера, анализа данных
							td Фамилия, имя, отчество (опционально); никнейм в социальной сети (опционально – если рассылка проводится посредством социальной сети) номер телефона и/или адрес электронной почты (опционально)
							td Согласие
							td Срок согласия на обработку персональных данных: 3 года с момента получения согласия


			p 6.4. На сайте Оператора осуществляется сбор и обработка обезличенных данных о посетителях (в т.ч. файлов «cookie») с помощью сервисов интернет-статистики (Яндекс Метрика, Гугл Аналитика и других).
			p Обезличенные данные Пользователей, собираемые с помощью сервисов интернет-статистики, служат для сбора информации о действиях Пользователей на сайте, улучшения качества сайта и его содержания.
			p 6.5. Оператор обрабатывает персональные данные Пользователя только в случае их заполнения и/или отправки Пользователем самостоятельно через специальные формы, расположенные на сайте <a href="https://tmdesign.by/">https://tmdesign.by/</a>. Заполняя соответствующие формы и/или отправляя свои персональные данные Оператору, Пользователь выражает свое согласие с данной Политикой.
			p 6.6. Оператор обрабатывает обезличенные данные о Пользователе в случае, если это разрешено в настройках браузера Пользователя (включено сохранение файлов «cookie» и использование технологии JavaScript).
			p 6.7. Пользователь самостоятельно принимает решение о предоставлении его персональных данных и дает согласие свободно, своей волей и в своих интересах.
		.content-block
			h3.h3 7. Безопасность персональных данных, которые обрабатываются Оператором, обеспечивается путем реализации правовых, организационных и технических мер, необходимых для выполнения в полном объеме требований действующего законодательства в области защиты персональных данных.
		.content-block

			h3.h3 8. Оператор обеспечивает сохранность персональных данных и принимает все возможные меры, исключающие доступ к персональным данным неуполномоченных лиц.
		.content-block

			h3.h3 9. Персональные данные Пользователя никогда, ни при каких условиях не будут переданы третьим лицам, за исключением случаев, связанных с исполнением действующего законодательства.

		.content-block
			h3.h3 10. Обработка персональных данных субъекта прекращается с момента:
			ul
				li достижения целей обработки данных;
				li отзыва субъектом согласия на обработку его (ее) данных;
				li прекращения действия правовых оснований обработки данных;
				li выявления неправомерной обработки данных.
		.content-block
			h3.h3 11. Трансграничная передача персональных данных

			p 11.1. С целью осуществления Оператором взаимодействия с клиентами, контрагентами, иными лицами, направления информационных (включая новостные, рекламные и прочие) сообщений Оператор может использовать следующие мессенджеры:
			p 11.1.1. Viber, при этом Оператор осуществляет трансграничную передачу номера телефона оператору сервиса обмена электронными сообщениями Viber Media S.à r.l., в том числе в иностранные государства, на территории которых не обеспечивается надлежащий уровень защиты прав субъектов персональных данных, поскольку коммуникационные серверы Viber Media S.à r.l. расположены в этих государствах.  С дополнительной информацией о порядке обработки персональных данных Viber Media S.à r.l. можно ознакомиться на официальном сайте компании, размещенном в сети Интернет по адресу: <a href="https://www.viber.com/ru/terms/viber-privacy-popcy/">https://www.viber.com/ru/terms/viber-privacy-popcy/</a>.
			p 11.1.2. Telegram, при этом Оператор осуществляет трансграничную передачу персональных данных (номера телефона) оператору сервиса обмена электронными сообщениями Telegram Messenger Inc., чьи коммуникационные сервера могут находиться в иностранных государствах, на территории которых не обеспечивается надлежащий уровень защиты прав субъектов персональных данных, поскольку коммуникационные мессенджера расположены в этих государствах. С дополнительной информацией о порядке обработки персональных данных Telegram Messenger Inc.можно ознакомиться на официальном сайте компании, размещенном в сети Интернет по адресу: <a href="https://telegram.org/privacy/by">https://telegram.org/privacy/by</a>.
			p 11.1.3. WhatsApp, при этом Оператор осуществляет трансграничную передачу персональных данных (номера телефона) оператору сервиса обмена электронными сообщениями WhatsApp Ireland pmited., чьи коммуникационные сервера могут находиться в иностранных государствах, на территории которых не обеспечивается надлежащий уровень защиты прав субъектов персональных данных, поскольку коммуникационные мессенджера расположены в этих государствах. С дополнительной информацией о порядке обработки персональных данных WhatsApp Ireland pmited .можно ознакомиться на официальном сайте компании, размещенном в сети Интернет по адресу: <a href="https://www.whatsapp.com/legal/privacy-popcy-eea">https://www.whatsapp.com/legal/privacy-popcy-eea</a>.
			p 11.2. На основании п. 11.1. настоящего положения, Оператор информирует субъектов персональных данных о существовании рисков, возникающих в связи с отсутствием надлежащего уровня защиты персональных данных в таких иностранных государствах, а именно:
			p 11.2.1. отсутствие специального законодательства, регулирующего обработку персональных данных;
			p 11.2.2. отсутствие независимого уполномоченного государственного органа по защите прав субъектов персональных данных;
			p 11.2.3. ограниченный круг прав субъектов персональных данных, что может способствовать совершению неправомерных действий в отношении предоставляемых субъектом персональных данных на территории указанных иностранных государств.
			p 11.3. Оператор вправе поручить обработку персональных данных другому лицу с согласия субъекта персональных данных, если иное не предусмотрено законодательством Республики Беларусь, на основании заключаемого с этим лицом договора (далее – поручение оператора).
			p 11.4. В случае если Оператор поручает обработку персональных данных другому лицу, ответственность перед субъектом персональных данных за действия указанного лица несет Оператор. Лицо, осуществляющее обработку персональных данных по поручению Оператора, несет ответственность перед Оператором.
			p 11.5. Оператор может осуществлять обработку персональных данных как уполномоченное лицо в соответствии с требованиями законодательства Республики Беларусь на условиях, определенных оператором.
		.content-block
			h3.h3 12. Конфиденциальность персональных данных

			p 12.1. Оператор и иные лица, получившие доступ к персональным данным, обязаны не раскрывать третьим лицам и не распространять персональные данные без согласия Пользователя, если иное не предусмотрено законодательством Республики Беларусь.
		.content-block
			h3.h3 13. Заключительные положения

			p 13.1. Вопросы, касающиеся обработки персональных данных, не закрепленные в настоящей Политике, регулируются законодательством Республики Беларусь.
			p 13.2. В случае, если какое-либо положение Политики признается противоречащим законодательству, остальные положения, соответствующие законодательству, остаются в силе и являются действительными, а любое недействительное положение будет считаться удаленным/измененным в той мере, в какой это необходимо для обеспечения его соответствия законодательству.
			p 13.3. Оператор имеет право по своему усмотрению в одностороннем порядке изменить и (или) дополнить условия настоящей Политики без предварительного уведомления субъектов персональных данных посредством размещения на Сайте новой редакции Политики.
			p Актуальная версия Политики в свободном доступе расположена в сети Интернет по адресу <a href="https://tmdesign.by/">https://tmdesign.by/</a>.

