-
	var doCards = [
		{
			title: 'Создавать идеальную базовую основу плечевого изделия, подчеркивая талию с элегантной баской.',
			text: 'Окунетесь в магию драпировки, создадите неповторимые силуэты, которые заставят сердца биться чаще.',

		},
		{
			title: 'Волшебно обращаться с басками разных объемов, придавая изделиям неповторимость и изящество.',
			text: 'Овладеете мастерством, которое превратит любую ткань в настоящее произведение искусства.',

		},
		{
			title: 'Моделировать рукава, как у дизайнеров высокой моды, от простых одношовных до фантазийных форм.',
			text: 'Ваши изделия будут уникальными, каждая деталь - отражением вашего творческого гения.',

		},
		{
			title: 'Создавать разнообразные виды воротников, такие как изящная стойка и стильный стояче-отложной.',
			text: 'Доведете свой образ до совершенства с помощью элегантных воротников, которые подчеркнут индивидуальность.',

		},
		{
			title: 'Мастерски обращаться с одношовной юбкой, создавая идеальную посадку и гармоничный образ.',
			text: 'Узнаете секреты идеальной посадки и как сделать так, чтобы каждая юбка выглядела идеально на любой фигуре.',

		},
		{
			title: 'Творчески моделировать макет готового изделия по фотографии, воплощая все ваши самые смелые дизайнерские мечты.',
			text: 'Будете работать с вдохновением и воплотите в жизнь любую идею, превратив фотографии в реальность.',

		},
	]