section.u-service
	.container
		.u-title Услуги
		.u-serv-wrapper
			<div class="section-service--lists">
			<div class="section-service--list">
			<div class="section-service--list--name">Standart</div>
			<ul class="section-service--list--content">
			<li>Вы самостоятельно присылаете нам лот</li>
			<li>Проведение аукциона</li>
			<li>Помощь с организацией доставки</li>
			<li>Информация о стадии и статусе заказа</li>
			<li>Фотоотчеты на всех этапах доставки</li>
			<li>1 CarFax отчёт бесплатно</li>
			</ul>
			<div class="section-service--list--price">450 BYN</div>
			<button type="button" class="btn btn--outline" data-bs-toggle="modal" data-bs-target="#modalForm" data-bs-heading="Клиент выбрал услуг Standart">Оставить заявку</button>
			</div>
			<div class="section-service--list middle">
			<div class="section-service--list--name">Lux</div>
			<ul class="section-service--list--content">
			<li>Консультация и помощь с подбором авто на аукционе</li>
			<li>Оценка степени повреждений</li>
			<li>Проверка истории автомобиля</li>
			<li>Проведение аукциона</li>
			<li>Помощь с организацией доставки</li>
			<li>Информация о стадии и статусе заказа</li>
			<li>Фотоотчет на всех этапах доставки</li>
			<li>5 CarFax отчётов бесплатно</li>
			<li>Консультация по таможенному оформлению и дальнейшей постановке авто на учёт</li>
			<li>Ориентировочный расчет степени повреждений</li>
			<li>Приятный и полезный подарок</li>
			</ul>
			<div class="section-service--list--price"><s style="padding-right:10px;">750 BYN</s><span style="color: var(--second-color);">375 BYN</span></div>
			<button type="button" class="btn btn--outline" data-bs-toggle="modal" data-bs-target="#modalForm" data-bs-heading="Клиент выбрал услуг VIP">Оставить заявку</button>
			</div>
			<div class="section-service--list">
			<div class="section-service--list--name">Premium</div>
			<ul class="section-service--list--content">
			<li>Консультация и помощь с подбором авто на аукционе</li>
			<li>Оценка степени повреждений</li>
			<li>Проверка истории автомобиля</li>
			<li>Проведение аукциона</li>
			<li>Помощь с организацией доставки</li>
			<li>Информация о стадии и статусе заказа</li>
			<li>Фотоотчет на всех этапах доставки</li>
			<li>15 CarFax отчётов бесплатно</li>
			<li>Организация комплекса услуг по растаможке автомобиля</li>
			<li>Ориентировочный расчёт степени повреждений, а также предложения по ремонту на собственных и партнёрских СТО</li>
			<li>Приятный и полезный подарок</li>
			</ul>
			<div class="section-service--list--price">1250 BYN</div>
			<button type="button" class="btn btn--outline" data-bs-toggle="modal" data-bs-target="#modalForm" data-bs-heading="Клиент выбрал услуг Premium">Оставить заявку</button>
			</div>
			</div>


