
section.u-order
	.container
		.u-title Как мы работаем
		.u-subtitle Процесс покупки авто с <strong>VIAMOTORS</strong>

		.u-order-wrapper

			<ul class="days-buy">
			<li data-tab="proc-s-1" class="">
			<div class="days-buy__dd">День 1-5</div>
			<div class="days-buy__name">Подбор</div>
			<div class="days-buy__txt">Осуществляем подбор авто опираясь на Ваши желания и бюджет</div>
			</li>
			<li data-tab="proc-s-2" class="active">
			<div class="days-buy__dd">День 6-7</div>
			<div class="days-buy__name">Проверка</div>
			<div class="days-buy__txt">Тщательная проверка в более чем 8 этапов</div>
			</li>
			<li data-tab="proc-s-3" class="">
			<div class="days-buy__dd">День 8-9</div>
			<div class="days-buy__name">Приобретение</div>
			<div class="days-buy__txt">Выбранный автомобиль торгуется в режиме онлайн совместно с покупателем</div>
			</li>
			<li data-tab="proc-s-4" class="">
			<div class="days-buy__dd">День 10-11</div>
			<div class="days-buy__name">Счет и оплата</div>
			<div class="days-buy__txt">Клиенты самостоятельно осуществляют платеж на аукцион через банк.</div>
			</li>
			<li data-tab="proc-s-5" class="">
			<div class="days-buy__dd">День 12-25</div>
			<div class="days-buy__name">Доставка</div>
			<div class="days-buy__txt">Своевременная и гарантированная транспортировка машины в Беларусь</div>
			</li>
			<li data-tab="proc-s-6" class="">
			<div class="days-buy__dd">День 26-29</div>
			<div class="days-buy__name">Растаможка</div>
			<div class="days-buy__txt">Весь пакет документов для растаможивания машины в РБ</div>
			</li>
			<li data-tab="proc-s-7" class="">
			<div class="days-buy__dd">День 30-35</div>
			<div class="days-buy__name">Восстановление</div>
			<div class="days-buy__txt">Рекомендуем проверенное СТО с привлекательными ценами</div>
			</li>
			<li data-tab="proc-s-8" class="">
			<div class="days-buy__dd">День 36</div>
			<div class="days-buy__name">Регистрация</div>
			<div class="days-buy__txt">Поможем в постановке на учет в ГАИ</div>
			</li>
			</ul>
			<div class="car-proc proc-s-1">
			<div class="car-proc__left">
			<img src="./assets/images/u-order.png" alt="Подбор">
			</div>
			<div class="car-proc__right">
			<div class="title-elem">Подбор</div>
			<p> В AutoCargo выбор автомобилей базируется на следующих ключевых аспектах: марка, модель, комплектация, пробег и техническое состояние машины. Клиенты имеют возможность лично подобрать автомобиль, проверив правдивость информации, полученной от аукциона. Правильное планирование бюджета становится ключом к выгодной покупке.                        </p>
			</div>
			</div>
			<div class="car-proc proc-s-2 active">
			<div class="car-proc__left">
			<img src="./assets/images/u-order.png" alt="Проверка">
			</div>
			<div class="car-proc__right">
			<div class="title-elem">Проверка</div>
			<p> Выбранный клиентом автомобиль проходит детальную проверку на восьми этапах до покупки, включая CarFax, историю сделок, проверку надежности продавца и многие другие аспекты.                        </p>
			</div>
			</div>
			<div class="car-proc proc-s-3">
			<div class="car-proc__left">
			<img src="./assets/images/u-order.png" alt="Приобретение">
			</div>
			<div class="car-proc__right">
			<div class="title-elem">Приобретение</div>
			<p> Наши эксперты участвуют в аукционе только после убеждения в выгодности конкретного автомобиля. Электронные торги проходят с активным участием клиента, соблюдая заранее установленные финансовые рамки.                        </p>
			</div>
			</div>
			<div class="car-proc proc-s-4">
			<div class="car-proc__left">
			<img src="./assets/images/u-order.png" alt="Счет и оплата">
			</div>
			<div class="car-proc__right">
			<div class="title-elem">Счет и оплата</div>
			<p> После выигрыша на аукционе автомобиль необходимо оплатить. Наши специалисты быстро формируют счет. Клиенты самостоятельно осуществляют платежи через банк. Все операции проводятся безналичным способом, обеспечивая полную прозрачность и надежность сделки.                        </p>
			</div>
			</div>
			<div class="car-proc proc-s-5">
			<div class="car-proc__left">
			<img src="./assets/images/u-order.png" alt="Доставка">
			</div>
			<div class="car-proc__right">
			<div class="title-elem">Доставка</div>
			<p> Автомобили доставляются в основные логистические хабы Северной Америки. Затем они отправляются первыми рейсами в европейские порты и далее в Россию. Время доставки рассчитывается индивидуально, в среднем от 25 до 60 дней, в зависимости от возможностей перевозчика и сезонных факторов.                        </p>
			</div>
			</div>
			<div class="car-proc proc-s-6">
			<div class="car-proc__left">
			<img src="./assets/images/u-order.png" alt="Растаможка">
			</div>
			<div class="car-proc__right">
			<div class="title-elem">Растаможка</div>
			<p> AutoCargo поможет вам подготовить все необходимые документы для быстрого таможенного оформления автомобиля в Российской Федерации. При отсутствии каких-либо документов, они будут немедленно восстановлены. Если документы предоставлены клиентом своевременно и без нарушений, таможенное оформление займет всего 2-3 дня.                        </p>
			</div>
			</div>
			<div class="car-proc proc-s-7">
			<div class="car-proc__left">
			<img src="./assets/images/u-order.png" alt="Восстановление">
			</div>
			<div class="car-proc__right">
			<div class="title-elem">Восстановление</div>
			<p> Мы ответственно рекомендуем нашим клиентам лучшие автосервисы, которые профессионально и за разумные деньги ремонтируют автомобили из США.                        </p>
			</div>
			</div>
			<div class="car-proc proc-s-8">
			<div class="car-proc__left">
			<img src="./assets/images/u-order.png" alt="Регистрация">
			</div>
			<div class="car-proc__right">
			<div class="title-elem">Регистрация</div>
			<p> После всех процедур, связанных с покупкой, доставкой и ремонтом автомобиля, его необходимо зарегистрировать в ГИБДД России. Специалисты AutoCargo помогут вам на всех этапах этого процесса, начиная с заполнения заявления на регистрацию и заканчивая подготовкой полного пакета необходимых документов.                        </p>
			</div>
			</div>
			<div class="buttons-vd ch-right-d">
			<button class="buttons-vertical-active js-prev-proc-b">
			<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none"><script xmlns=""/>
			<path d="M34.2152 24.0004H13.7852" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M24.8057 14.6304L34.2157 24.0004L24.8057 33.3704" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
			</svg>
			</button>
			<button class="buttons-vertical-active js-next-proc-b">
			<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none"><script xmlns=""/>
			<path d="M34.2152 24.0004H13.7852" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M24.8057 14.6304L34.2157 24.0004L24.8057 33.3704" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
			</svg>
			</button>
			</div>

