section.u-service#services
	.container
		.u-title Услуги
		.u-serv-wrapper
			<div class="section-service--lists">
			<div class="section-service--list">
			<div class="section-service--list--name">"Эконом"</div>
			<ul class="section-service--list--content">
			<li>Самостоятельно присылаете нам лот и стоимость ставки</li>
			<li>Проведение аукциона</li>
			<li>Помощь с организацией доставки</li>
			<li>Фотоотчеты на всех этапах доставки</li>
			<li>Консультация по таможенному оформлению и дальнейшей постановке авто на учёт</li>
			</ul>
			<div class="section-service--list--price">450 BYN</div>
			<div class="btn btn--outline" data-toggle="modal" data-target="#modal-message" data-heading="Клиент выбрал услуг Эконом">Оставить заявку</div>
			</div>
			<div class="section-service--list middle">
			<div class="section-service--list--name">Стандарт</div>
			<ul class="section-service--list--content">
			<li>Консультация и помощь с подбором авто на аукционе</li>
			<li>Ориентировочный расчет степени повреждений</li>
			<li>Проверка истории автомобиля</li>
			<li>Проведение аукциона</li>
			<li>Помощь с организацией доставки</li>
			<li>Фотоотчет на всех этапах доставки</li>
			<li>Консультация по таможенному оформлению и дальнейшей постановке авто на учёт</li>
			</ul>
			<div class="section-service--list--price"><span>650 BYN</span></div>
			<div class="btn btn--outline" data-toggle="modal" data-target="#modal-message" data-heading="Клиент выбрал услуг Стандарт">Оставить заявку</div>
			</div>
			<div class="section-service--list">
			<div class="section-service--list--name">Под ключ</div>
			<ul class="section-service--list--content">
			<li>Консультация и помощь с подбором авто на аукционе</li>
			<li>Ориентировочный расчет степени повреждений</li>
			<li>Проверка истории автомобиля</li>
			<li>Проведение аукциона</li>
			<li>Помощь с организацией доставки</li>
			<li>Фотоотчет на всех этапах доставки</li>
			<li>Консультация по таможенному оформлению и дальнейшей постановке авто на учёт</li>
			<li>Помощь в восстановлении авто на нашем и партнерском СТО</li>
			</ul>
			<div class="section-service--list--price">890 BYN</div>
			<div class="btn btn--outline" data-toggle="modal" data-target="#modal-message" data-heading="Клиент выбрал услуг Под ключ">Оставить заявку</div>
			</div>
			</div>


