.content
			.container
				a(href="/").content-link
					+icon('article-arrow')(style="width:2.4rem;height:2.4rem")
					span На главную
				.h2.t3.fsb.section-title.text--center Оферта на оказание платных образовательных услуг
				.content-flex
					span г. Минск
					span 03 марта 2025 года

				.content-block

					h3.t4.text--center 1. Общие положения
					p 1.1. Настоящий Договор (далее «договор», «оферта») является официальным предложением Общества с ограниченной ответственностью «Творческая мастерская моды и дизайна» (зарегистрировано 26.05.2023г. в Едином государственном регистре юридическим лиц и индивидуальных предпринимателей Минским горисполкомом за номером 193689494 (далее -«Исполнитель») заключить договор на изложенных ниже условиях любому физическому, юридическому лицу, а также индивидуальному предпринимателю (далее – Заказчик) заключить Договор на оказание услуг по	обучению на курсе (далее – Договор).
					p 1.2. Лицо, осуществившее акцепт настоящей оферты, приобретает все права и обязанности Заказчика, предусмотренные настоящим договором, в рамках выбранного пакета услуг.
					p 1.3. Акцептом настоящей оферты является осуществление Заказчиком полной оплаты услуг Исполнителя в соответствии с условиями настоящего договора. С момента поступления денежных средств в счет оплаты оказываемых услуг на расчетный счет Исполнителя, настоящий договор считается заключенным между Заказчиком и Исполнителем.
					p 1.4. Акцептуя настоящую оферту, Заказчик дает согласие на обработку персональных данных в том объеме, в котором это необходимо для исполнения договора Исполнителем.
					p 1.5. Осуществляя акцепт настоящей оферты, Заказчик подтверждает, что он обладает необходимой гражданской дееспособностью и что оказание Исполнителем услуг по настоящему договору преимущественно дистанционно с использованием программного обеспечения (далее - ПО) в виде электронных услуг полностью соответствует возможности Заказчика пользоваться услугами, оказываемыми таким способом. Также Заказчик предупрежден, что для обучения ему потребуются расходные материалы и оборудование, которые Заказчик приобретает за свой счет после начала курса.
					p 1.6. Исполнитель не несет ответственности за возможности Заказчика реализовать на практике информацию, полученную при оказании Услуг.
					p 1.7. В Договоре используются следующие термины:
					p Информационные ресурсы – Интернет-ресурсы такие как профили Исполнителя в социальных сетях, сайт Исполнителя.
					p Сайт Исполнителя – интернет-сайт, находящийся по адресу <a href="https://tmdesign.by/">https://tmdesign.by/</a>
					p Материалы – вебинары, онлайн-лекции, офлайн-мероприятия, аудио- и видеозаписи, разделенные на так называемые «пакеты» на усмотрение Исполнителя (включая темы и качество).
					p Конспект - материалы графического и текстового содержания, объединенные одной тематикой. Являются результатом авторского труда Исполнителя.
					p Обратная связь – услуга в форме устных или письменных ответов Исполнителя на вопросы.
					p 1.8. В случае использования в Договоре терминов, не определенных в п. 1.7., толкование таких терминов производится в соответствии с текстом Договора. В случае невозможности толкования терминов исходя из текста Договора, термин подлежит толкованию исходя из следующего:
					p в первую очередь – исходя из информации на сайте Исполнителя;
					p во вторую очередь – толкованием и определениями терминов, сложившимся в сети Интернет;
					p в третью очередь – сложившимся (общеупотребимым) толкованием данного термина.
				.content-block
					h3.t4.text--center 2. Предмет договора
					p 2.1. Исполнитель оказывает Заказчику консультационные и иные услуги, указанные на сайте Исполнителя, включая распространение лицензионных продуктов и профессиональных видеозаписей (далее – Услуги), а Заказчик обязуется оплатить эти Услуги.
					p 2.2. Перечень доступных Услуг Исполнителя и их стоимость размещены на сайте Исполнителя.
					p 2.3. Услуги по Договору ограничены предоставлением Заказчику информации, передачи знаний и опыта Исполнителя и формированием навыков для их самостоятельного использования Заказчиком.
					p 2.4. Подготовленные и предоставленные Заказчику (устно или письменно) рекомендации, консультации и разъяснения в рамках оказания услуг являются профессиональным мнением Исполнителя и носят рекомендательный характер. Услуги, оказываемые по Договору, не являются услугами медицинского характера и не заменяют медицинскую помощь.
					p 2.5. Дата начала (или условия начала) оказания Услуг указывается (анонсируется) на Информационных ресурсах Исполнителя.
					p 2.6. Услуги могут быть оказаны Заказчику в групповом формате, если это предусмотрено оплаченным пакетом/Услугой.
					p 2.7. Услуги оказываются в очном формате, а также дистанционно через сеть Интернет, посредством программного обеспечения (ПО), в том числе с использованием специального оборудования, программного обеспечения и онлайн-сервисов, используемых Исполнителем. Доступ к соответствующим онлайн-сервисам и программному обеспечению осуществляется Исполнителем с использованием контактов Заказчика, указанных при покупке Услуг (Telegram, Viber, социальные сети и т.п.). В рамках исполнения обязательств по настоящему Договору Исполнитель передает данные Заказчика сервисам, через которые осуществляется трансляция коллективных и индивидуальных консультаций и происходит оказание иных услуг.
				
				.content-block
					h3.t4.text--center 3. Порядок заключения Договора
					p 3.1. Договор считается заключенным с момента получения Исполнителем полной оплаты стоимости Услуг по Договору от Заказчика. В случае, если предусмотрен срок для оплаты, Договор будет считаться заключенным, если оплата Услуг Заказчиком будет произведена в пределах указанного срока.
					p 3.2. В случае если платеж произведен Заказчиком в сумме, меньшей стоимости услуг, договор считается незаключенным до момента оплаты полной стоимости.
					p 3.3. Оплата услуг проводится Заказчиком самостоятельно, либо с помощью сервисов или третьих лиц по реквизитам Исполнителя, указанным в настоящей оферте. Датой оплаты считается дата поступления денежных средств на счет Исполнителя.
					p Валюта платежа – белорусские рубли.
					p В случае оплаты услуг Исполнителя в кредит Заказчик самостоятельно оформляет письменные соглашения с соответствующими Банками, кредитными организациями.
					p 3.4. Заказчик в реквизитах платежа указывает свои данные, позволяющие однозначно его идентифицировать. При этом фамилия, имя собственное, отчество (при наличии) и адрес электронной почты признаются минимально достаточными реквизитами.
					p В случае, если данные из реквизитов платежа не позволяют идентифицировать Заказчика с помощью общедоступных данных (паспортные данные не являются общедоступной информацией), или если по электронной почте Заказчик не выходит на связь, то ответственность за незаключение договора полностью возлагается на Заказчика.
				.content-block
					h3.t4.text--center    4. Порядок оказания и приемки Услуг
					p 4.1. Исполнитель после подтверждения факта оплаты Услуг по Договору направляет электронным письмом на указанный Заказчиком электронный адрес информацию, необходимую для оказания Услуг.
					p 4.2. Если применимо, Стороны по электронной почте согласовывают время, график и формат оказания Услуг.
					p 4.3. Если Услуги предусматривают обратную связь, Исполнитель обязан обеспечить такую обратную связь в полном объеме по заранее составленному графику оказания Услуг с Заказчиком.
					p 4.4. Если предполагается поэтапное оказание Услуг, то каждый последующий этап Услуг оказывается Заказчику только после завершения предыдущего этапа.
					p 4.5.  Исполнитель самостоятельно определяет формы и методы оказания Услуг, а также систему оценок при оказании Услуг, формы и порядок оценки.
					p 4.6. Исполнитель может использовать результаты оказания Услуг в представительских целях (портфолио), если прямой запрет не поступил от Заказчика.
					p 4.7. В случае оказания Услуг дистанционно Заказчик самостоятельно обеспечивает себе возможность получения Услуг (стабильное Интернет-соединение, наличие необходимых приложений и т.д.).
					p 4.8. Исполнитель консультирует Заказчика по организационным и техническим вопросам оказания Услуг. В экстренных случаях, например, в случае обрыва Интернет-соединения на стороне Исполнителя Исполнитель может использовать другие методы связи с Заказчиком, включая электронную почту, SMS-уведомление на мобильный телефон Заказчика, либо иные способы передачи информации.
					p 4.9. Услуги считаются оказанными качественно и в полном объеме и принятыми Заказчиком, если в течение 1 (одного) рабочего дня с даты окончания оказания Услуг Заказчик не предъявил какие-либо письменные претензии по качеству и объему Услуг.
					p 4.10. Услуги по предоставлению доступа к лицензионным продуктам, записям, гайдам и прочим Материалам считаются оказанными с момента предоставления доступа к таким Материалам.
					p 4.11. Услуги по проверке домашних заданий и поддержке в чате признаются Сторонами услугами в порядке абонентского обслуживания. Такие услуги считаются оказанными в момент окончания срока обучения и (или) консультационной поддержки в полном объеме и в том случае, если Заказчиком не заявлялось требования об исполнении данной услуги.
					p 4.12. Если Исполнитель вышел на связь с Заказчиком в назначенное время, а Заказчик отсутствовал, то обязательства Исполнителя считаются выполненными и Услуги по Договору считаются оказанными в полном объеме.
					p 4.13. Факт оказания Услуг подтверждается Актом, оформленным единолично Исполнителем в отношении всех Заказчиков на основании пункта 1 Постановления Министерства финансов Республики Беларусь от 21.12.2015 № 58 «О некоторых вопросах составления первичных учетных документов».
					p 4.13. Исполнитель высылает Акт Заказчику по его письменному запросу в течение 5 (пяти) рабочих дней с момента получения такого запроса.
				.content-block
					h3.t4.text--center    5.Стоимость и порядок расчетов
					p 5.1. Стоимость услуг, а также других сервисов Исполнителя указана на сайте Исполнителя.
					p 5.2 В случае оплаты Услуг в безналичной форме посредством эквайринга:
					p банковские комиссии и иные издержки, связанные с проведением платежей в пользу Исполнителя по настоящему Договору, оплачиваются за счет Заказчика,
					p если валюта банковской платежной карты (банковского счета) Заказчика отличается от валюты платежа по Договору, все дополнительные расходы, в том числе связанные с конвертацией валюты, при совершении платежей оплачиваются за счет Заказчика,
						p 5.3. Заказчик оплачивает Услуги в следующем порядке: 100% предоплата в безналичной форме путем перечисления на текущий расчётный счет Исполнителя на основании выставленного счета на оплату или по предоставленной Исполнителем ссылке для оплаты через сервисы по приему платежей.
						p 5.4. В случае несвоевременной оплаты начало оказания Услуг переносится на следующий период, анонсируемый на сайте, или начало оказания Услуг отдельно согласовывается Сторонами.
						p 5.5. В случае, если Услуги оказаны до внесения предоплаты, Заказчик оплачивает Услуги в течение 1 (одного) рабочего дня со дня их оказания.
						p 5.6. В случае невозможности исполнения, возникшей по вине Заказчика, в том числе из-за неявки в согласованное время, Услуги подлежат оплате в полном объеме, предоплата не подлежит возврату.
						p 5.7. Исполнитель по своему усмотрению может применять систему скидок на Услуги. Скидки могут предоставляться при выполнении определенных условий, анонсированных через Информационные ресурсы Исполнителя
				.content-block
					h3.t4.text--center    6. Права, обязанности и ответственность сторон
					p 6.1. Исполнитель обязуется:
					p 6.1.1. Оказать Услуги надлежащим образом и в установленные сроки.
					p 6.1.2. Осуществлять обработку персональных данных исключительно с целью исполнения настоящего договора в соответствии с Политикой обработки персональных данных, утвержденной Исполнителем.
					p 6.2. Исполнитель вправе:
					p 6.2.1. Требовать от Заказчика добросовестного исполнения взятых на себя обязательств, уважительного отношения к иным Заказчикам и к Исполнителю лично.
					p 6.2.2. Изменять условия настоящего договора в одностороннем порядке, без предварительного согласования с Заказчиком, обеспечивая при этом публикацию измененных условий на сайте по адресу <a href="https://tmdesign.by/">https://tmdesign.by/</a> не менее чем за один день до их введения в действие.
					p 6.2.3. Привлекать для оказания услуг в соответствии с настоящим договором третьих лиц (при этом не допускается их привлечение в качестве преподавателей).
					p 6.3. Исполнитель не несет ответственности за неполучение Заказчиком ожидаемого Заказчиком уровня усвоения материалов в процессе оказания Услуг.
					p 6.4. Заказчик обязуется:
					p 6.4.1. Самостоятельно знакомиться с информацией о сроках, программе и условиях её предоставления.
					p 6.4.2. Иметь персональный компьютер или иное портативное (мобильное) устройство с доступом в сеть Интернет, оборудованные наушниками и микрофоном, а также с установленным программным обеспечением, необходимые и достаточные для получения приобретенной Услуги.
					p 6.4.3. Придерживаться целей и сути приобретенной Услуги.
					p 6.4.4. Предоставить Исполнителю актуальную и достоверную информацию, необходимую для получения услуг, а также для оперативной связи в рамках оказания услуг по настоящему договору по запросу Исполнителя.
					p 6.4.5. Не разглашать и не распространять иным образом информацию о клиентах Исполнителя, ставшую известной Заказчику в процессе получения услуг в рамках настоящего Договора. При нарушении данного пункта Заказчик обязуется уплатить Исполнителю штраф в размере 100 базовых величин за каждый случай распространения данных.
					p 6.4.7. Не осуществлять запись, не распространять (публиковать, размещать на Интернет-сайтах, копировать, передавать или перепродавать третьим лицам) в коммерческих или некоммерческих целях предоставляемую Исполнителем Заказчику информацию, методику и материалы в рамках обучения на курсе, создавать на ее основе информационные продукты с целью извлечения коммерческой прибыли, а также использовать эту информацию каким-либо иным образом, кроме как для использования единственным Заказчиком. При нарушении данного пункта Заказчик обязуется возместить Исполнителю убытки и уплатить штраф в размере 200 базовых величин за каждый случай нарушения прав Исполнителя (если передача осуществлялась конкретному лицу) или 400 базовых величин (если передача осуществляла неограниченному кругу лиц - размещение в сети Интернет на ресурсе любой степени закрытости).
					p 6.4.8. Заказчик не имеет права разглашать где-либо, включая социальные сети, методики, которые он получил на курсе. Эта информация является интеллектуальной собственностью Исполнителя. При нарушении данного пункта Заказчик обязуется уплатить Исполнителю штраф в размере 200 базовых величин за каждый случай нарушения прав Исполнителя.
					p 6.4.9. Обеспечить конфиденциальность ссылок на просмотр видеозаписей, полученных от Исполнителя по настоящему договору. При нарушении данного пункта Заказчик обязуется уплатить Исполнителю штраф в размере 200 базовых величин за каждый случай передачи данных (если передача осуществлялась конкретному лицу) или 400 базовых величин (если передача осуществляла неограниченному кругу лиц - размещение в сети Интернет на ресурсе любой степени закрытости).
					p 6.4.10. Возмещение убытков и оплата штрафов, указанных в п. 6.3.5.-6.3.9. производится Заказчиком в течение 10 (десяти) календарных дней с момента получения соответствующего требования Исполнителя.
					p 6.5. Заказчик вправе:
					p 6.5.1. Требовать надлежащего исполнения Исполнителем своих обязательств по настоящему договору.
					p 6.5.2. Получать информацию по любым вопросам, касающимся организации исполнения Услуг по настоящему договору.
					p 6.6. В случае, если Заказчик совершает действия, порочащие деловую репутацию Исполнителя любым образом, или у Исполнителя есть любые основания предполагать, что Заказчик нарушает условия договора или, если согласно оплаченному пакету для Заказчика предусмотрено участие в телеграм-чате (и/или сеансы видео/аудиосвязи в Zoom или ином приложении) получателей Услуг по Договору и Заказчик нарушает правила поведения в данном телеграм-чате, то Исполнитель имеет право после первого предупреждения в чате (и последующего за ним повторного нарушения) удалить Заказчика из чата и ограничить доступ к Материалам (бан). Правила поведения в телеграм-чате оговариваются Исполнителем. В случаях, если правила поведения в чате не оговорены в нем, то нарушением со стороны Заказчика будет считаться:
					p использование нецензурной лексики в том случае, если хотя бы от одного из участников чата поступила просьба не использовать ее;
					p более одного сообщения от Заказчика на темы, не связанные с тематикой чата;
					p агрессивные, вызывающие или провокационные сообщения в адрес других участников чата;
					p любые сообщения, содержащие информацию, распространение которой преследуется по законодательству Республики Беларусь;
					p иные действия по решению Исполнителя.
					p Распространение сведений, порочащих деловую репутацию Исполнителя, оскорбления Исполнителя, обсуждения Исполнителя и его материалов интеллектуальной собственности, влечет за собой наложение штрафа в размере 200 базовых величин на виновную сторону (Заказчика), при наличии у Исполнителя доказательств о распространении таких сведений.
					p 6.7. Уплата штрафных санкций не освобождает Заказчика от обязанности прекратить неправомерное действие/бездействие.
				.content-block
					h3.t4.text--center 7.Расторжение и односторонний отказ от договора
					p 7.1. Договор может быть изменен или расторгнут в любое время по соглашению Сторон.
					p 7.2. Исполнитель вправе в одностороннем порядке отказаться от исполнения Договора, направив Заказчику уведомление на электронную почту и/или через мессенджеры, или в социальной сети за 3 (три) календарных дня. При этом Исполнитель возвращает Заказчику произведенную предоплату стоимости неоказанных Услуг в полном объеме в срок не позднее 7 (семи) календарных дней с даты прекращения Договора.
					p 7.3. Исполнитель вправе в одностороннем порядке отказаться от исполнения Договора в случае неоднократного (2 и более раз) нарушения Заказчиком своим поведением прав и законных интересов других лиц, процесса оказания Услуг, графика оказания Услуг без возмещения произведенной предоплаты по Договору.
					p 7.4. Заказчик вправе в одностороннем порядке отказаться от исполнения Договора, направив Исполнителю уведомление на электронную почту и/или через мессенджеры, или в социальной сети.
					p 7.5. При одностороннем отказе Заказчика от услуг, оказываемых Исполнителем в рамках настоящего договора, отношения сторон по возврату денежных средств регулируются положениями главы 39 Гражданского кодекса Республики Беларусь «Возмездное оказание услуг». При этом стоимость Услуг, подлежащая возврату, определяется следующим образом:
					p - При отказе Заказчика более, чем за 7 календарных дней до даты начала оказания Услуг, Заказчику возвращается 75 % предоплаты;
					p - При отказе Заказчика менее, чем за 7 календарных дней до даты начала оказания Услуг, Заказчику возвращается 50 % предоплаты;
					p - При отказе Заказчика во время или после оказания Услуг предоплата Заказчику не возвращается.
					p Указанные удержания признаются фактически понесенными затратами
					p 7.6. Решение о возврате или об отказе в возврате денежных средств принимается Исполнителем в течение 7 (семи) календарных дней с момента получения соответствующего заявления Заказчика.
				.content-block
					h3.t4.text--center    8. Конфиденциальность и персональные данные
					p 8.1. Вся информация о Заказчике, ставшая известной Исполнителю в процессе исполнения Договора, считается конфиденциальной и не подлежит передаче третьим лицам без разрешения Заказчика.
					p 8.2. Не считается нарушением конфиденциальности использование информации о ник-неймах Заказчика в мессенджерах, в случае, если они используются в закрытых чатах/платформах в рамках оказания Услуг по Договору.
					p 8.3. Заключая Договор, Заказчик как субъект персональных данных, выражает свободное, конкретное (волевое) и информированное согласие Исполнителю на сбор (предоставление), обработку, распространение и предоставление персональных данных.
					p 8.3.1. Перечень персональных данных Заказчика: фамилия, имя собственное, отчество (при наличии), дата рождения, контактные данные (номер телефона, ссылка на профиль в социальных сетях, адрес электронной почты, ник-нейм и т.д.), адрес места жительства, паспортные данные и иные данные, необходимые для оказания Услуг.
					p 8.3.2. Целью обработки персональных данных является оказание Услуг по Договору.
					p 8.3.3. Перечень действий с персональными данными: сбор, систематизация, накопление, хранение, уничтожение, передача (в том числе трансграничная передача), обезличивание, блокирование.
					p 8.3.4. Срок согласия на обработку персональных данных – 3 года после окончания срока действия Договора (при проведении налоговыми органами проверки соблюдения налогового законодательства), а если налоговыми органами проверка соблюдения налогового законодательства не проводилась — 10 лет после окончания срока действия Договора.
					p 8.4. Исполнитель имеет право передавать информацию субъекта персональных данных ЗАО «Альфа-банк» для предоставления Услуг по обработке платежей.
					p 9. Интеллектуальная собственность
					p 9.1. Используя материалы Исполнителя, Заказчик признает и соглашается с тем, что все их содержимое защищены действующим законодательством Республики Беларусь.
					p Никакие права на материалы и документы, предоставленные Исполнителем в рамках настоящего договора, не переходят к Заказчику в процессе передачи материалов.
					p 9.2. При цитировании материалов сайта Исполнителя Заказчик обязуется указывать ссылку на Исполнителя (<a href="https://tmdesign.by/">https://tmdesign.by/</a>), либо его имя и фамилию.
					p 9.3. В случае нарушения Заказчиком положений настоящего договора, касающихся защиты авторских прав Исполнителя, последний вправе потребовать у Заказчика выплаты штрафа в размере 100 базовых величин, а также компенсации всех причиненных убытков, включая упущенную выгоду, при наличии у Исполнителя доказательств о распространении материалов
				.content-block    .
					h3.t4.text--center    10. Заключительные положения
					p 10.1. Настоящий договор вступает в силу с момента акцепта Заказчиком и действует до полного исполнения обязательств сторонами.
					p 10.2. По всем вопросам, не урегулированным настоящим договором, стороны руководствуются действующим законодательством Республики Беларусь.
					p 10.3. Все споры и разногласия между сторонами разрешаются путем переговоров. При этом претензионный порядок разрешения споров, возникающим из отношений по поводу заключения настоящего договора, является обязательным. Получатель претензии в течение 30 календарных дней со дня получения претензии, письменно уведомляет заявителя претензии о результатах рассмотрения претензии. При недостижении соглашения в установленный настоящем пункте срок спор передается на рассмотрение в судебный орган в соответствии с действующим законодательством Республики Беларусь по месту нахождения Исполнителя.
					p 10.4. Признание судом какого-либо положения настоящего договора недействительным или не подлежащим принудительному исполнению не влечет недействительности иных его положений.
					p 10.5. Стороны признают, что все уведомления, сообщения, соглашения, документы и письма, направленные с использованием уполномоченных адресов электронной почты либо в иной переписке в мессенджерах, считаются направленными и подписанными Сторонами, кроме случаев, когда в таких письмах прямо не указано обратное.
					p 10.6. Уполномоченными адресами электронной почты Сторон признаются:
					ul

						li для Исполнителя <a href="mailto:tanyatskireeva@gmail.com">tanyatskireeva@gmail.com</a>
						li для Заказчика: адрес электронной почты, указанный при покупке Услуги.
					p 10.7. Стороны обязуются обеспечивать конфиденциальность сведений и информации, необходимых для доступа к уполномоченным адресам электронной почты, не допускать разглашение такой информации и передачу третьим лицам. Стороны самостоятельно определяют порядок ограничения доступа к такой информации.
					p 10.8. До момента получения от Заказчика информации о нарушения режима конфиденциальности, все действия и документы, совершенные и направленные с помощью уполномоченного адреса электронной почты Заказчика, даже если такие действия и документы были совершены и направлены иными лицами, считаются совершенными и направленными Заказчиком. В этом случае права и обязанности, а также ответственность наступают у Заказчика.
					p 10.9. До момента получения от Исполнителя информации о нарушения режима конфиденциальности, все действия и документы, совершенные и направленные с помощью его уполномоченного адреса электронной почты, даже если такие действия и документы были совершены и направлены иными лицами, считаются совершенными и направленными Исполнителем.
					p 10.10. Стороны установили, что скриншоты переписки по электронной почте или в сообщении в мессенджере, совершенной по реквизитам, указанным в настоящем Договоре, во исполнение настоящего Договора, являются достаточным и допустимым доказательством для подтверждения тех фактов, которые в них указаны.
				.content-block
					h3.t4.text--center    11. Реквизиты Исполнителя
					span Общество с ограниченной ответственностью «Творческая мастерская моды и дизайна» <br> УНП 193689494 <br> Местонахождение: <br> 220033, Республика Беларусь, г. Минск, ул. Тростенецкая, д. 3, пом. 502 <br> Телефон: +375 29 178-45-69 <br> Банковские реквизиты: <br> ЗАО «Альфа-банк» <br> р/с BY36 ALFA 3012 2D44 2900 1027 0000 <br> адрес банка: <br> SWIFT:   ALFABY2X <br> Электронная почта


