.content
	.container
		a(href="/").content-link
			+icon('article-arrow')(style="width:2.4rem;height:2.4rem")
			span На главную
		.h2.t3.fsb.section-title Способы оплаты и возврат

		.content-block

			h3.t4 1. Банковской карточкой через интернет

			p Для этого вам необходимо:
			p 1. Заказать услугу, которую вы хотите получить,  можно кликнув на кнопку «Купить». Вы перейдете на специальную защищенную платежную страницу процессинговой системы  <a href="https:/alfabank.by/">https:/alfabank.by/</a>
			p.mark.t5 ! Обращаем ваше внимание, что ссылка на оплату действует в течение 20 минут.
			p 2. На платежной странице будет указан номер заказа и сумма платежа. Для оплаты вам необходимо ввести свои карточные данные и подтвердить платеж, нажав кнопку «Оплатить».
			p Если ваша карта поддерживает технологию 3-D Secure, системой вам будет предложено пройти стандартную одноминутную процедуру проверки владельца карты на странице вашего банка (банка, который выдал вашу карту).
			p 3. После оплаты вы будете перенаправлены в Телеграм-канал, где будут описаны все детали оказания услуги. На ваш емэйл также придет письмо с дальнейшими указаниями.
			p Обращаем ваше внимание, что после проведения платежа на указанный вами электронный адрес придет подтверждение оплаты. Просим вас сохранять данные оплат. Мы принимаем платежи по следующим банковским картам: Visa, Visa Electron, MasterCard, Maestro, Белкарт, МИР.
			p Платежи по банковским картам осуществляются через систему электронных платежей <a href="https:/alfabank.by/">https:/alfabank.by/</a>. Платежная страница системы отвечает всем требованиям безопасности передачи данных (PCI DSS Level 1). Все конфиденциальные данные хранятся в зашифрованном виде и максимально устойчивы к взлому. Доступ к авторизационным страницам осуществляется с использованием протокола, обеспечивающего безопасную передачу данных в Интернетe (SSL/TLS).
			p Возврат денежных средств осуществляется на карту, с которой ранее была произведена оплата. Срок поступления денежных средств на карту от 1 до 30 дней с момента осуществления возврата Продавцом.

			p.t4.fsb Условия возврата описаны здесь:
			p Для возврата денежных средств на банковскую платежную карточку необходимо заполнить «Заявление о возврате денежных средств» и отправить его по электронному адресу <a href="mailto:26tsylko@mail.ru">26tsylko@mail.ru</a>
			p Возврат денежных средств будет осуществлен на банковскую платежную карточку в течение 7 (семи) календарных дней со дня получения «Заявление о возврате денежных средств» Компанией.
			p Сумма возврата будет равняться сумме покупки Для возврата денежных средств по операциям проведенными с ошибками необходимо обратиться с письменным заявлением и приложением чеков/квитанций, подтверждающих ошибочное списание. Данное заявление необходимо направить по электронному адресу <a href="mailto:26tsylko@mail.ru">26tsylko@mail.ru</a>
