include ../utility/_globalVars
include ../utility/_mixins
include ../utility/_functions

block vars
	- var pageTitle
	- var pageBodyClass
	- var dir

- var componentsList = [] //список имен всех компонентов
- var componentsCriticalList = [] // список имен компонентов, стили которых нужно подключить инлайного в head
- var componentsScriptsList = [] // список имен компонентов, скрипты которых нужно подключить на страницу. они не должны подключаться в main.js
- var vendorScriptsList = [] // список имен вендоров, скрипты которых нужно подключить на страницу. они не должны подключаться в main.js

doctype html
html(lang='ru-RU')
	head
		meta(charset='UTF-8')
		meta(name='format-detection' content='telephone=no')
		meta(name='viewport' content='width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, initial-scale=1.0')

		title= pageTitle
		meta(name='description' content='🛡️ Авто из США под ключ с доставкой в Беларусь — надежный импорт автомобилей из Америки. ✅ Полный цикл: подбор, проверка VIN, покупка на аукционах, доставка, растаможка, сертификация в РБ. 🚙 BMW, Mercedes, Ford, Audi')
		<meta name="keywords" content="авто из сша, автомобили из америки, авто из сша под ключ, купить авто из сша, доставка авто из сша в беларусь, растаможка авто из сша, авто из сша в беларусь, подбор авто из сша, аукционы copart, машины из сша, автомобили из сша в минск, авто из сша в беларуси, авто из сша под ключ в беларусь, импорт авто из сша, авто из сша в брест, авто из сша в гродно, авто из сша в гомель, авто из сша в витебск, покупка авто из сша, доставка авто из америки, растаможка авто в беларуси, автомобили из сша под ключ">
		meta(name="robots" content="noindex, nofollow")
		<meta property="og:title" content="ViaMotors | Авто из США под ключ">

		<meta property="og:url" content="https://viamotors.by">

		<meta property="og:type" content="website">
		<meta property="og:image" content="https://viamotors.by/assets/images/u-hero.png">

		<link rel="canonical" href="https://https://viamotors.by/">
		link(rel="icon" type="image/png" href="/favicon.ico" sizes="48x48")
		link(rel="icon" type="image/png" href="/favicons/favicon-32x32.png" sizes="32x32")
		link(rel="icon" type="image/png" href="/favicons/favicon-16x16.png" sizes="16x16")
		link(rel="apple-touch-icon" href="/favicons/apple-touch.png" sizes="180x180")
		link(rel="apple-touch-icon" href="/favicons/android-chrome-192x192.png" sizes="192x192")
		link(rel="apple-touch-icon" href="/favicons/android-chrome-512x512.png" sizes="512x512")
		<link rel="manifest" href="/site.webmanifest">

		link(rel="preload" href="./assets/fonts/open-sans-v34-latin_cyrillic-regular.woff" as="font" type="font/woff2" crossorigin="anonymous")
		link(rel="preload" href="./assets/fonts/open-sans-v34-latin_cyrillic-600.woff" as="font" type="font/woff2" crossorigin="anonymous")
		link(rel="preload" href="./assets/fonts/open-sans-v34-latin_cyrillic-800.woff" as="font" type="font/woff2" crossorigin="anonymous")

		//-Стили для всех страниц
		link(href="./critical.css" rel="stylesheet")


		block componentsCriticalStyles

	body.theme-default(class=pageBodyClass)

		.wrapper
			include ../components/header/husa



			main.main
				block main

			include ../components/footer/footer


		//-include ../components/pages-viget/pages-viget

		//-Либы, используемые на всех страницах

		script(src="./assets/js/vendor/splide.min.js" defer)


		block vendorScripts

		block scripts

		//-Скрипты для всех страниц
		script(src="./assets/js/app.min.js" defer)

		block componentsScripts



		//-Стили компонентов этой страницы
		block componentsStyles
		//-script(src="./assets/js/alpinejs/alpine.min.js" defer)

